<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<header th:replace="/manager_product/layout :: header"></header>
<div class="container">
   <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
           <h1>Create product</h1>
           <p>
               <a href="/home">Product list</a>
           </p>
           <th:block th:if="${message}">
               <p th:text="${message}"></p>
           </th:block>
           <form th:action="@{/create-product}"
                 th:object="${product}"
                 enctype="multipart/form-data"
                 method="post">
               <table class="table table-dark table-striped">
                   <tr>
                       <td>ID:</td>
                       <td><input class="form-control" type="text" th:field="*{id}"/></td>
                       <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</td>
                   </tr>
                   <tr>
                       <td>Name:</td>
                       <td><input class="form-control" type="text" th:field="*{name}"/></td>
                       <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                   </tr>
                   <tr>
                       <td>Desv:</td>
                       <td><input class="form-control" type="text" th:field="*{desv}"/></td>
                       <!--                        <td th:if="${#fields.hasErrors('desv')}" th:errors="*{desv}">Name Error</td>-->
                   </tr>

                   <tr>
                       <td>Price:</td>
                       <td><input type="text" th:field="*{price}"/></td>
                       <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</td>
                   </tr>

                   <tr>
                       <td>Category:</td>
                       <td>
                           <select th:field="*{category}">
                               <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                           </select>
                       </td>
                   </tr>
                   <tr>
                       <td>Size:</td>
                       <td>
                           <select th:field="*{size}">
                               <option th:each="s : ${sizes}" th:value="${s.id}" th:text="${s.name}"></option>
                           </select>
                       </td>
                   </tr>
                   <tr>
                       <td>Img:</td>
                       <td><input type="file" th:field="*{img}"/></td>
                       <!--            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>-->
                   </tr>
                   <tr>
                       <td></td>
                       <td><button class="btn btn-secondary" type="submit">Create</button></td>
                   </tr>
               </table>
           </form>
       </div>
       <div class="col-md-2"></div>
   </div>

</div>
<footer th:replace="/manager_product/layout :: footer"></footer>
</body>
</html>