<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Teddy Shop</title>
</head>
<body>
<header th:replace="/manager_product/layout :: header"></header>
<div class="container">
    <a href="/create">Create new Product</a>
    <h1>List Product</h1>
    <div class="row">
        <div class="col" >
            <form>
                Search by name:
                <input name="s" type="text"/>
                <input class="btn btn-secondary" type="submit" th:value="Search"/>
            </form>
        </div>
        <div class="col">
            <form style="text-align: right">
                <input type="submit" class="btn btn-secondary" name="s1" th:value="SortByName">
            </form>
        </div>


    </div>
    <hr>
    <div class="row">
        <table border="1" class="table table-dark table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Desv</th>
                <th>Price</th>
                <th>Category</th>
                <th>Size</th>
                <th>Img</th>
                <th>Info</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <th:block th:each="product : ${products}">
                <tr>
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.desv}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.size.name}"></td>
                    <td ><img class="img-fluid" th:src="${product.img}" width="400" height="200"></td>
                    <td><a th:href="@{/info/__${product.id}__ }">Info</a></td>
                    <td><a th:href="@{/edit/__${product.id}__ }">Edit</a></td>
                    <td><a th:href="@{/delete/__${product.id}__ }">Delete</a></td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{'/home'(page=${products.number})}" th:if="${products.hasPrevious()}">Previous</a>
            <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
            <a th:href="@{'/home'(page=${products.number + 2})}" th:if="${products.hasNext()}">Next</a>
        </div>
    </div>

</div>
<footer th:replace="/manager_product/layout :: footer"></footer>
</body>
</html>