<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/manager_product/layout :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<header th:replace="/manager_product/layout :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Info product</h2>

            <form th:action="@{/oder}" th:object="${product}" method="post" enctype="multipart/form-data">
                <table class="table table-dark table-striped">
                    <tr>
                        <!--            <td>ID:</td>-->
                        <td><input class="form-control" name="id" type="hidden" th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input class="form-control" type="text" th:field="*{name}"/></td>
                    </tr>
                    <tr>
                        <td>Desv:</td>
                        <td><input class="form-control" type="text" th:field="*{desv}"/></td>
                    </tr>

                    <tr>
                        <td>Price:</td>
                        <td><input class="form-control" type="number" th:field="*{price}"/></td>
                    </tr>

                    <tr>
                        <td>Category:</td>
                        <td>
                            <select th:field="*{category}">
                                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Size:</td>
                        <td>
                            <select class="form-select" th:field="*{size}">
                                <option th:each="s : ${sizes}"
                                        th:value="${s.id}"
                                        th:text="${s.name}"></option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Img:</td>

                        <td>
                            <img th:src="${'http://localhost:8080/'+ product.img}" width="400" height="200">
                    </tr>
<!--                    <tr>-->
<!--                        <td></td>-->
<!--                        <td><input type="submit" value=" Mua hang "></td>-->
<!--                    </tr>-->
                </table>
            </form>
        </div>
        <div class="col-md-2"></div>

    </div>

</div>
<footer th:replace="/manager_product/layout :: footer"></footer>

</body>
</html>