<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head" >
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<header th:replace="/layout :: header"></header>
<hr>
<div class="container">
    <th:block th:if="${message}">
        <p style="color: firebrick" th:text="${message}"></p>
    </th:block>
<form class="form" th:action="@{/web/create-order}" th:object="${product}" method="post">

        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid" th:src="${'http://localhost:8080/'+ product.img}">
                <input type="hidden" name="imga" th:value="*{img}">
                <td><input name="id" type="hidden" th:field="*{id}"/></td>
            </div>
            <div class="col-md-5" style="height:85%;width: 35%;background: rgba(0,0,0,0.3);color: white">
                <div class="card-body">
<!--                                    <span>Customer ID Test:</span>-->
                    <th:block th:if="${!session.isEmpty()}">
                        <input type="hidden" th:value="${session.customer.getId()}" name="customerId"></input>
                    </th:block>

                    <h3 style="color: firebrick" class="card-title" th:text="${product.name}"></h3>
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{desv}"/>
                    <input type="hidden" th:field="*{price}"/>
                    <input type="hidden" th:field="*{size}"/>
                    <input type="hidden" th:field="*{category}"/>
                    <hr>
                    <h5>Mô tả :</h5><p class="card-text" th:text="${product.desv}"></p>
                    Size : <span th:text="${product.size.getName()}"></span>
                    <br>
                    <h5>Giá : </h5><span th:text="${product.price}"></span>
                    <hr>
                    <h5>Số lượng : </h5> <input type="text" name="quantity">
                    <hr>
                    <input type="submit"class="btn btn-danger" value=" Them vao gio hang ">
                </div>
            </div>
        </div>

</form>

    <h4 style="margin-top: 15px">Sản phẩm tương tự :</h4>
    <hr>
    <div class="row">
        <div class="col-md-3" th:each="p:${productWebs}">
            <a th:href="@{/web/info/__${p.getProduct_id()}__}"></a>
            <div class="card">
                <img th:src="${'http://localhost:8080/'+p.getP_img()}" class="card-img-top" alt="Loading.....">
                <div class="card-body">
                    <h5 class="card-title" th:text="${p.getP_name()}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <div th:text="${p.getP_price()}" ></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/layout :: footer"></footer>


</body>
</html>