<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Trang chu ok</title>
</head>
<body>

<div class="container">
    <h1>List Product Web</h1>

    <br>
    <h2>Gio hang</h2>
    <form method="post" th:action="@{/web/oder}">
        Customer ID:
        <input type="text" name="id">
        <input type="submit" value="Xem gio hang">
    </form>
   <div class="row">
       <div class="col-md-8">
           <form>
               Search by Name:
               <input name="s" type="text"/>
               <input type="submit" th:value="Search"/>
           </form>
       </div>
       <div class="col-md-4">
           <form >
               Sort All Product by Price :
               <input type="submit" name="s1" th:value="Sort">
           </form>
       </div>
   </div>
    <br>
    <div class="row">
        <th:block th:each="mp : ${manageproducts}">
            <hr>
            <div class="col-md-4">
                <a th:href="@{/web/info/__${mp.getProduct_id()}__}">
                <div class="card">
                    <img th:src="${'http://localhost:8080/'+mp.getP_img()}" class="card-img-top" alt="Loading.....">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${mp.getP_name()}"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                            <div th:text="${mp.getP_price()}" ></div>
                        </li>
                    </ul>
                </div>
                </a>
            </div>

        </th:block>

    </div>

</div>






<!--<hr>-->
<!--<a href="/quanly/create_manager">Nhap kho</a>-->
<!--<form>-->
<!--    Search by Name:-->
<!--    <input name="s" type="text"/>-->
<!--    <input type="submit" th:value="Search"/>-->
<!--</form><br/>-->
<!--<form >-->
<!--    Sort All Product by Price :-->
<!--    <input type="submit" name="s1" th:value="Sort">-->
<!--</form>-->
<!--<br>-->

<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Product-Name</th>-->
<!--        <th>Quantity</th>-->
<!--        <th>Desv</th>-->
<!--        <th>Img</th>-->
<!--        <th>Price</th>-->
<!--        <th>Info Product</th>-->

<!--    </tr>-->
<!--    <th:block th:each="mp : ${manageproducts}">-->
<!--        <tr>-->
<!--            <td th:text="${mp.getProduct_id()}"></td>-->
<!--            <td th:text="${mp.getP_name()}"></td>-->
<!--            <td th:text="${mp.getQuantity()}"></td>-->
<!--            <td th:text="${mp.getP_desv()}"></td>-->

<!--            <td ><img th:src="${'http://localhost:8080/'+mp.getP_img()}" width="400" height="200"></td>-->
<!--            <td th:text="${mp.getP_price()}"></td>-->
<!--            <td><a th:href="@{/web/info/__${mp.getProduct_id()}__ }">Info</a></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->

</body>
</html>