<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head" >
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <title>Trang chu ok</title>-->
</head>
<body>
<header th:replace="/layout :: header"></header>

<div class="container">

    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <br>
    <div class="row">
        <th:block th:each="mp : ${manageproducts}">
            <hr>
            <div class="col-md-4">
                <a th:href="@{/user/info/__${mp.getProduct_id()}__}">
                <div class="card">
                    <img th:src="${'http://localhost:8080/'+mp.getP_img()}" class="img-thumbnail" alt="Loading.....">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${mp.getP_name()}"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                            <div th:text="${mp.getP_price()}" ></div>
                        </li>
                    </ul>
                </div>
                </a>
            </div>

        </th:block>

    </div>

</div>

<footer th:replace="/layout :: footer"></footer>

</body>
</html>