<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head" >
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<header th:replace="/layout :: header"></header>

<div class="container">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <div>
        <form method="post" th:action="@{/web/oderAccept}" style="text-align: right">
            <th:block th:if="${!session.isEmpty()}">
                <input type="hidden" th:value="${session.customer.getId()}" name="customerId"></input>
            </th:block>
            <button class="btn btn-light" type="submit"><i class="far fa-address-book" style="color: red" > Hoa don </i></button>
        </form>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>Name Product</th>
            <th>Quantity</th>
            <th>IMG</th>
            <th>Price/Product</th>
            <th>Total Price</th>

        </tr>
        <th:block th:each="mp : ${list}">
            <tr>

                <td th:text="${mp.getProduct_name()}"></td>
                <td th:text="${mp.getQuantity()}"></td>
                <td>
                    <img th:src="${'http://localhost:8080/'+mp.getProduct_img()}"  width="400" height="200">
                </td>
                <td th:text="${mp.getProduct_price()}"></td>
                <td th:text="${mp.getMoney()}"></td>

            </tr>
        </th:block>
    </table>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>