<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<header th:replace="/manager_product/layout :: header"></header>
<div class="container">
    <hr>
    <h1>Update kho</h1>

    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/quanly/create-Mproduct}"
          th:object="${manageProducts}"
          method="post">
        <table border="1"  class="table table-dark table-striped">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{id}"/></td>
                <!--            <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</td>-->
            </tr>
            <tr>
                <td>Ngay Add:</td>
                <td><input type="date" th:field="*{date_Added}"/></td>
                <!--            <td th:if="${#fields.hasErrors('nsx')}" th:errors="*{nsx}">Name Error</td>-->
            </tr>
            <tr>
                <td>NSX:</td>
                <td><input type="date" th:field="*{nsx}"/></td>
                <!--            <td th:if="${#fields.hasErrors('nsx')}" th:errors="*{nsx}">Name Error</td>-->
            </tr>
            <tr>
                <td>HSD:</td>
                <td><input type="date" th:field="*{hsd}"/></td>
                <!--                                    <td th:if="${#fields.hasErrors('hsd')}" th:errors="*{hsd}">Name Error</td>-->
            </tr>

            <tr>
                <td>Quantity :</td>
                <td><input type="number" th:field="*{quantity}"/></td>
                <!--            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</td>-->
            </tr>

            <tr>
                <td>Product:</td>
                <td>
                    <select th:field="*{product}">
                        <option th:each="p : ${products}" th:value="${p.id}" th:text="${p.id}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-danger" type="submit" value="Edit"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="/manager_product/layout :: footer"></footer>

</body>
</html>