<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Trang mac dinh</title>
</head>
<body style="
        height:100%;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
      url('https://www.google.com/url?sa=i&url=http%3A%2F%2Fthuthuatphanmem.vn%2Fanh-dep-tong-hop-nhung-hinh-anh-dep-nhat%2F&psig=AOvVaw2BhRsmcPRVlruQgC3SKsyK&ust=1614308257755000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPiPsISFhO8CFQAAAAAdAAAAABAI');
      background-repeat: no-repeat;
        background-size: cover;
        ">
<div style="height:85%;width: 35%;background: rgba(0,0,0,0.5)">
    <img class="mb-4" src="icon.png" alt="" width="25%"
         style=" margin: auto;
        display: flex;
        justify-content: center;
        align-items: center; margin-top:35px">
    <form action="login" method="post" style="height: 70%;width: 70%;
    margin: 0 auto; margin-top: 20px">
        <h1 style=" margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white">
            Sign in
        </h1>
        <p></p>

        <div class="form-group" >
            <label style="color: white" >User name :</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label style="color: white">Password :</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" style="color: white">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block"> Log in </button>
        <p></p>
        <div style=" margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white">
            or
        </div>
        <p></p>
        <div style=" margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white">
            <button style="margin: auto" type="submit" class="btn btn-success">Sign up</button>
        </div>
    </form>
</div>

</body>
</html>
