<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head" >
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit customer</title>
</head>
<body>
<header th:replace="/layout :: header"></header>
<h1>Edit customer</h1>
<p>
    <a href="/customer/list">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">


    <table>
        <tr>
            <td><label for="firstName">First Name:</label></td>
            <td><input type="text" name="firstName" th:field="*{firstName}" id="firstName"/></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <td><label for="lastName">First Name:</label></td>
            <td><input type="text" name="lastName" th:field="*{lastName}" id="lastName"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <td><label for="address">Address:</label></td>
            <td><input type="text" name="address" th:field="*{address}" id="address"/></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
        </tr>
        <tr>
            <td><label for="phoneNumber">Phone Number:</label></td>
            <td><input type="text" name="phoneNumber" th:field="*{phoneNumber}" id="phoneNumber"/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
        </tr>
<!--        <tr>-->
<!--&lt;!&ndash;            <td>Account Id:</td>&ndash;&gt;-->
<!--            <td> <input type="hidden" name="account" th:field="*{account}" ></td>-->
<!--&lt;!&ndash;            <td><input type="text" name="account" ></td>&ndash;&gt;-->
<!--        </tr>-->
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>


<!--    -->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>First name:</td>-->
<!--            <td><input type="text" th:field="*{firstName}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Last name:</td>-->
<!--            <td><input type="text" th:field="*{lastName}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Address:</td>-->
<!--            <td><input type="text" th:field="*{address}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Phone number:</td>-->
<!--            <td><input type="text" th:field="*{phoneNumber}"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input type="hidden" name="account" th:field="*{account}" ></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td><input type="submit" value="Update customer"></td>-->
<!--        </tr>-->
    </table>
</form>
<footer th:replace="/layoutweb :: footer"></footer>

</body>
</html>